<% if @users.blank? %>
<p>There are not any users currently in the system.</p>
<% else %>
<p>These are the current users in our system</p>

<ul id = "users">
   <% @users.each do |c| %>
   <li><%= link_to c.first_name, {:action => 'show', :id => c.id} -%><%= link_to c.last_name, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new User", {:action => 'new' }%></p>